<div id="standardy">

    <section class="mw8 center mt5 pb6 ph3">
        <h1 class="f1 sans tc ttu">{{ i18n "standards"}}</h1>
        <section class="flex flex-wrap justify-between">
            

            <div class="w-100-m w-50-ns pa2" data-aos="zoom-in" data-aos-delay="50">
                <div class="ph4 pt2 pb3 bg-near-white flex items-center standardy ba bw3">
                    <div class="number serif pr4 b">1</div>
                    <div class="sans lh-copy">
                        {{ i18n "standard1" }}
                    </div>
                </div>
            </div>
    
            <div class="w-100-m w-50-ns pa2" data-aos="zoom-in" data-aos-delay="100">
                <div class="ph4 pt2 pb3 bg-near-white flex items-center standardy ba bw3">
                    <div class="number serif pr4 b">2</div>
                    <div class="sans lh-copy">
                        {{ i18n "standard2" }}
                    </div>
                </div>
            </div>
    
            <div class="w-100-m w-50-ns pa2" data-aos="zoom-in" data-aos-delay="150">
                <div class="ph4 pt2 pb3 bg-near-white flex items-center standardy ba bw3">
                    <div class="number serif pr4 b">3</div>
                    <div class="sans lh-copy">
                        {{ i18n "standard3" }}
                    </div>
                </div>
            </div>
            
            <div class="w-100-m w-50-ns pa2" data-aos="zoom-in" data-aos-delay="200">
                <div class="ph4 pt2 pb3 bg-near-white flex items-center standardy ba bw3">
                    <div class="number serif pr4 b">4</div>
                    <div class="sans lh-copy">
                        {{ i18n "standard4" }}
                    </div>
                </div>
            </div>
            
            <div class="w-100-m w-50-ns pa2" data-aos="zoom-in" data-aos-delay="250">
                <div class="ph4 pt2 pb3 bg-near-white flex items-center standardy ba bw3">
                    <div class="number serif pr4 b">5</div>
                    <div class="sans lh-copy">
                        {{ i18n "standard5" }}
                    </div>
                </div>
            </div>
            
            <div class="w-100-m w-50-ns pa2" data-aos="zoom-in" data-aos-delay="300">
                <div class="ph4 pt2 pb3 bg-near-white flex items-center standardy ba bw3">
                    <div class="number serif pr4 b">6</div>
                    <div class="sans lh-copy">
                        {{ i18n "standard6" }}
                    </div>
                </div>
            </div>
            
        </section>
    </section>

</div>
