{{ if (eq .Site.Language.Lang "pl") }}

<!-- PL translation -->

<section id="firma" class="mw8 center pb2-ns pb3-m pb4-l pt4-m pt5-l">
    <div class="sans flex flex-wrap items-center justify-center ph3-m ph4-l">
        <div class="f5-m f4-ns w-100-m w-50-ns pa4 lh-copy ">
            <span class="b">Jesteśmy dynamiczną firmą zajmującą się kompleksowym wsparciem firm produkcyjnych w realizacji usług podwykonawczych oraz zapewnieniu personelu produkcyjnego.</span>
            <p>          
                Job Inn istnieje od 2017 r. i specjalizuje się w:
                <ol>
                   <li>Optymalizacja procesów produkcyjnych u klientów z sektora produkcyjnego.</li>
                   <li>Zapewnienie usług podwykonawczych manualnych własnym personelem produkcyjnym.</li>
                   <li>Rekrutacja, szkolenie oraz doskonalenie zawodowe pod spersonalizowane potrzeby zakładów produkcyjnych.</li>
                   <li>Zapewnienie legalizacji pobytu i pracy cudzoziemców na potrzeby klienta.</li>
                   <li>Realizacja usług w standardach etycznych ETI, IWAY oraz produkcyjnych IFS/BRC.</li>
                   <li>Zapewnienie rozliczenia naszych usług w oparciu o raporty produkcyjne, za które bierzemy odpowiedzialność.</li>
                </ol>             
            </p>
        </div>
        <div class="w-40-m w-50-l tc mb4 center" data-aos="fade-up"> 
            <img src="{{ .Site.BaseURL }}images/img1.jpg" alt="" class="br3 photo ma2">
        </div>

        <div class="w-40-m w-50-l tc mb4 center" data-aos="fade-up">
            <img src="{{ .Site.BaseURL }}images/img2.jpg" alt="" class="br3 photo ma2">
        </div>
        <div class="f5-m f4-ns w-100-m w-50-ns pa4 lh-copy ">
            <span class="b"> Dysponujemy dużą bazą:</span>         
                <ul>
                    <li>prostego personelu produkcji;</li>
                    <li>wyspecjalizowanych operatorów maszyn i linii produkcyjnych;</li>
                    <li>operatorów wózków widłowych;</li>
                    <li>magazynierów;</li>
                    <li>kierowców;</li>
                    <li>brygadzistów zarządzających pracą personelu produkcji;</li>
                </ul>             
        </div>
    </div>
    
</section>

{{ else if (eq .Site.Language.Lang "ru") }}

<!-- RU translation -->

<section id="firma" class="mw8 center pb2-ns pb3-m pb4-l pt4-m pt5-l">
    <div class="sans flex flex-wrap items-center justify-center ph3-m ph4-l">
        <div class="f5-m f4-ns w-100-m w-50-ns pa4 lh-copy ">
            <span class="b">Мы являемся динамично развивающейся компанией, специализирующейся на оказании комплексной поддержки производственным компаниям в реализации субподрядных услуг и предоставлении персонала для производственного сектора.</span>
            <p>          
                Job Inn существует с 2017 года и специализируется на:
                <ol>
                    <li>Оптимизации производственных процессов у клиентов промышленного сектора.</li>
                    <li>Оказании услуг субподряда с применением собственного производственного персонала.</li>
                    <li>Подборе персонала, обучении и повышении квалификации в соответствии с индивидуальными потребностями производственных предприятий.</li>
                    <li>Обеспечении легализации пребывания и работы иностранцев для нужд клиентов.</li>
                    <li>Предоставлении услуг в соответствии с этическими стандартами ETI, IWAY и производственными стандартами IFS/BRC.</li>
                    <li>Гарантии того, что счета за наши услуги выставляются на основании производственных отчетов, за которые мы несем ответственность.</li>
                </ol>
            </p>
        </div>
        <div class="w-40-m w-50-l tc mb4 center" data-aos="flip-up"> 
            <img src="{{ .Site.BaseURL }}images/img1.jpg" alt="" class="br3 photo ma2">
        </div>

        <div class="w-40-m w-50-l tc mb4 center" data-aos="flip-up">
            <img src="{{ .Site.BaseURL }}images/img2.jpg" alt="" class="br3 photo ma2">
        </div>
        <div class="f5-m f4-ns w-100-m w-50-ns pa4 lh-copy ">
            <span class="b">Мы владеем большой базой:</span>         
                <ul>
                    <li>работников продукции;</li>
                    <li>специализированных операторов станков и производственных линий;</li>
                    <li>операторов погрузчиков;</li>
                    <li>складских работников;</li>
                    <li>водителей;</li>
                    <li>бригадиров, осуществляющих контроль за работой производственного персонала;</li>
                </ul>             
        </div>
    </div>
    
</section>

{{ else }}

<!-- EN translation -->

<section id="firma" class="mw8 center pb2-ns pb3-m pb4-l pt4-m pt5-l">
    <div class="sans flex flex-wrap items-center justify-center ph3-m ph4-l">
        <div class="f5-m f4-ns w-100-m w-50-ns pa4 lh-copy ">
            <span class="b">We are a dynamic company dedicated to providing comprehensive support to manufacturing companies in the implementation of subcontracting services and the provision of production personnel.</span>
            <p>          
                Job Inn was established in 2017 and specializes in:
                <ol>
                    <li>Optimization of production processes for manufacturing customers.</li>
                    <li>Providing manual subcontracting services with our own production staff.</li>
                    <li>Recruiting, training and professional development for the personalized needs of manufacturing companies.</li>
                    <li>Providing legalization of residence and working foreigners for customer needs.</li>
                    <li>Implementation of services in ETI, IWAY ethical standards and IFS/BRC production standards.</li>
                    <li>Ensuring the accounting of our services based on production reports for which we take responsibility.</li>
                </ol>
            </p>
        </div>
        <div class="w-40-m w-50-l tc mb4 center" data-aos="flip-up"> 
            <img src="{{ .Site.BaseURL }}images/img1.jpg" alt="" class="br3 photo ma2">
        </div>

        <div class="w-40-m w-50-l tc mb4 center" data-aos="flip-up">
            <img src="{{ .Site.BaseURL }}images/img2.jpg" alt="" class="br3 photo ma2">
        </div>
        <div class="f5-m f4-ns w-100-m w-50-ns pa4 lh-copy ">
            <span class="b">We have a large base of:</span>         
                <ul>
                    <li>production staff;</li>                
                    <li>specialized machine and production line operators;</li>
                    <li>operators of forklifts;</li>
                    <li>warehouse workers;</li>
                    <li>drivers;</li>
                    <li>foremen who manage the work of production staff;</li>
                </ul>             
        </div>
    </div>
    
</section>



{{ end }}
