{{ if (eq .Site.Language.Lang "pl") }}

<!-- PL translation -->

<section class="mw8 sans flex flex-wrap center items-center  items-center pv4-m pv5-l">
    <div class="w-60-ns w-100-m f5 bg-light-gray pv4 ph5 lh-copy" data-aos="fade-up">
    <span class="b">Współpracujemy z wieloma zakładami produkcyjnymi w całej Polsce</span>, dla których jako sprawdzony i profesjonalny partner wspieramy produkcję na stałe lub pod konkretne zamówienie przy udziale naszego personelu.
    <br><br>
    Posiadamy stałe ubezpieczenie naszej działalności i w mieniu klienta na sumę gwarancyjną 1 000 000 zł.
    </div>
    <div class="w-40-ns w-100-m bg-jobyellow pv4 ph5 b f3 lh-copy shadow-m tc" data-aos="zoom-in">
        Wyróżnia nas bieżąca analiza efektywności systemu pracy klienta celem utrzymywania wydajności, jakości i terminowości jego produkcji.
    </div>
</section>

{{ else if (eq .Site.Language.Lang "ru") }}

<!-- RU translation -->

<section class="mw8 sans flex flex-wrap center items-center  items-center pv4-m pv5-l">
    <div class="w-50-ns w-100-m f5 bg-light-gray pv4 ph5 lh-copy " data-aos="fade-up">
        <span class="b">Мы сотрудничаем со многими производственными предприятиями по всей Польше</span>, для которых, как проверенный и профессиональный партнер, мы поддерживаем производство на постоянной основе или под конкретный заказ с помощью нашего персонала.
        <br><br>
        Мы постоянно страхуем нашу деятельность и имущество клиентов с гарантийной суммой в 1 000 000 злотых.
    </div>
    <div class="w-50-ns w-100-m bg-jobyellow pv4 ph5 b f3 lh-copy shadow-m tl" data-aos="zoom-in">
        Нас отличает постоянный анализ эффективности системы работы клиента с целью поддержания эффективности, качества и своевременности производства.
    </div>
</section>

{{ else }}

<!-- EN translations -->

<section class="mw8 sans flex flex-wrap center items-center  items-center pv4-m pv5-l">
    <div class="w-50-ns w-100-m f5 bg-light-gray pv4 ph5 lh-copy " data-aos="fade-up">
        <span class="b">We work with many manufacturing companies all over Poland</span>, for which, as a proven and professional partner, we support production on a permanent basis or for a specific order with our staff.
        <br><br>
        We have a permanent insurance of our activities and in the property of the client for a guarantee amount of 1 000 000 PLN.
    </div>
    <div class="w-50-ns w-100-m bg-jobyellow pv4 ph5 b f3 lh-copy shadow-m tl" data-aos="zoom-in">
       We are distinguished by the ongoing analysis of the effectiveness of the customer&#39;s working system in order to maintain the efficiency, quality and timeliness. 
    </div>
</section>



{{ end }}
