<footer id="kontakt" class="bg-near-black">
    


    <section class="mw8 center ph4 pb2 pt5 flex flex-wrap justify-center flex-wrap-l flex-wrap-reverse-m flex-wrap-reverse">

        <div class="mapouter2 w-50-ns w-100-m tc pb4 mt0-l mt5-m mt5"><div class="gmap_canvas"><iframe width="100%" height="660" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.5938562849583!2d16.917725677439492!3d52.41403667203351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47045b4bdc6087c3%3A0x15e2e0c6c5d430b0!2sFeliksa%20Nowowiejskiego%2053%2C%2061-734%20Pozna%C5%84!5e0!3m2!1spl!2spl!4v1733230306915!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style></div>
        </div>

         <div class="w-50-ns w-100-m tc pt4">
            <div class="white sans lh-copy">
        <span class="b f3 ttu mt3">{{ i18n "recrutation" }}</span>
        <ul style="list-style: none; padding: 0;">
            <li><strong>Olha Hvozdyk</strong> - cała Polska<br>
                Tel: <a href="tel:+48535254596" class="jobyellow">+48 535 254 596</a><br>
		Tel: <a href="tel:+48534654285" class="jobyellow">+48 534 654 285</a><br>
                Email: <a href="mailto:rekrutacja@jobinn.pl" class="jobyellow">rekrutacja@jobinn.pl</a>
            </li>
            <li><strong>Michał Rogaliński</strong> - woj. mazowieckie<br>
                Tel: <a href="tel:+48537160471" class="jobyellow">+48 537 160 471</a><br>
                Email: <a href="mailto:m.rogalinski@jobinn.pl" class="jobyellow">m.rogalinski@jobinn.pl</a>
            </li>
            <li><strong>Milana Shamsutdinova</strong> - woj. mazowieckie<br>
                Tel: <a href="tel:+48531740518" class="jobyellow">+48 531 740 518</a><br>
                Email: <a href="mailto:milana@jobinn.pl" class="jobyellow">milana@jobinn.pl</a>
            </li>
            <li><strong>Michał Rybacki</strong> - woj. warmińsko-mazurskie<br>
                Tel: <a href="tel:+48536160471" class="jobyellow">+48 536 160 471</a><br>
                Email: <a href="mailto:m.rybacki@jobinn.pl" class="jobyellow">m.rybacki@jobinn.pl</a>
            </li>
            <li><strong>Svitlana Duman</strong> - woj. małopolskie<br>
                Tel: <a href="tel:+48535094954" class="jobyellow">+48 535 094 954</a><br>
                Email: <a href="mailto:svitlana@jobinn.pl" class="jobyellow">svitlana@jobinn.pl</a>
            </li>
        </ul>

    <!-- Sekcja Kadry -->
    
        <span class="b f3 ttu mt3">{{ i18n "office" }}</span>
	<ul style="list-style: none; padding: 0;">
            <li><strong>Marina Tsepalkina</strong><br>
                Tel: <a href="tel:+48530575564" class="jobyellow">+48 530 575 564</a><br>
                Email: <a href="mailto:finanse@jobinn.pl" class="jobyellow">finanse@jobinn.pl</a>
            </li>
        </ul>


    <!-- Sekcja Księgowość -->
    
        <span class="b f3 ttu mt3">{{ i18n "legalisation" }}</span>
        <ul style="list-style: none; padding: 0;">
            <li><strong>Ksenia Khotienkova</strong><br>
                Tel: <a href="tel:+48530573158" class="jobyellow">+48 530 573 158</a><br>
                Email: <a href="mailto:kadry@jobinn.pl" class="jobyellow">kadry@jobinn.pl</a>
            </li>
        </ul>


    <!-- Sekcja Współpraca -->

        <span class="b f3 ttu mt3">{{ i18n "collaboration" }}</span>
        <ul style="list-style: none; padding: 0;">
            <li>Email: <a href="mailto:wspolpraca@jobinn.pl" class="jobyellow">wspolpraca@jobinn.pl</a></li>
            <li><strong>Tomasz Matynia</strong> - Prezes zarządu<br>
                Tel: <a href="tel:+48662324245" class="jobyellow">+48 662 324 245</a>
            </li>
            <li><strong>Joanna Matynia</strong> - Dyrektor operacyjny<br>
                Tel: <a href="tel:+48519548227" class="jobyellow">+48 519 548 227</a>
            </li>
        </ul>
            </div>
        </div>

    </section>


    <section class="mw8 center pa5 flex flex-wrap justify-center">

        <div class="w-40-ns w-100-m tc pt3">
            <img src="{{ .Site.BaseURL }}images/logo_job_inn.png" alt="" class="mw5">
            <div class="white sans lh-copy pa4">
                <span class="b">JOB INN Sp. z o. o.</span>
                <p>ul. Feliksa Nowowiejskiego 53, <br>61-734 Poznań</p>
		<!-- <p>{{ i18n "email" }}: <a href="mailto:biuro.jobinn@gmail.com" class="jobyellow">biuro.jobinn@gmail.com</a></p> -->
		<!-- <p>{{ i18n "tel" }}: <a href="tel:+48662324245" class="jobyellow">+48 662 324 245</a></p> -->
        <p>NIP 7812010765</p><p>REGON 386466707</p>
            </div>

        </div>
        
         
        <div class="w-60-ns w-100-m sans pa2-ns pa4-m pa4-l">
            <form action="https://getform.io/f/b986e89f-e009-42f9-ab25-e48ac07e4358" accept-charset="UTF-8" enctype="multipart/form-data" method="POST" id="ajaxForm" class="tc">

                <input type="text" id="name" name="imie i nazwisko" class="pv2 ph3 ba bw1 b--gray f3 bg-dark-gray white mb3 w-80-m w-100-ns " placeholder="{{ i18n "name" }}*">
    
                <input type="email" id="email-address" name="email" class="pv2 ph3 ba bw1 b--gray f3 bg-dark-gray white mb3 w-80-m w-100-ns" placeholder="{{ i18n "email" }}*">
    
                <input type="number" id="phone" name="tel" class="pv2 ph3 ba bw1 b--gray f3 bg-dark-gray white mb3 w-80-m w-100-ns" placeholder="{{ i18n "phone" }}*">
    
                <input type="text" id="company" name="firma" class="pv2 ph3 ba bw1 b--gray f3 bg-dark-gray white mb3 w-80-m w-100-ns" placeholder="{{ i18n "company" }}">
    
                <textarea id="message" name="wiadomosc" type="text" class="pv2 ph3 ba bw1 b--gray f3 bg-dark-gray white mb2 w-80-m w-100-ns" placeholder="{{ i18n "message" }}*"></textarea>
                
                <span class="db light-silver pb2 light-silver">* {{i18n
                    "required"}}</span>

                <input type="hidden" name="_gotcha" style="display:none !important"> 
                <button type="submit" class="dib sans b black link pointer f4 ttu pv2 ph4 bg-jobyellow b--none hover-bg-black hover-white">{{ i18n "send" }}</button>

            </form>
            <script>
            $("#ajaxForm").submit(function(e){
                e.preventDefault();
                var action = $(this).attr("action");
                $.ajax({
                type: "POST",
                url: action,
                crossDomain: true,
                data: new FormData(this),
                dataType: "json",
                processData: false,
                contentType: false,
                headers: {
                "Accept": "application/json"
                }
            }).done(function() {
                window.location.href = "{{ relLangURL "thankyou" }}";
            }).fail(function() {
                alert('An error occurred! Please try again later.')
            });
            });
        </script>
        </div>

    </section>

</footer>







