<!-- <section id="cover" class="bg-gray ph3-m ph5-ns pv6 cover"> -->

<section class="">
    <ul class="rslides">
        <li class="slide1">
            <div class="mw8 pa3 center pt7" data-aos="fade-up">
                <div class="bg-white ph4 pv1 htitle">
                    <h2 class="f3-ns f2-m f2-l serif">{{ i18n "claim" }}</h2>
                </div>
                <div class="mt2">
                        <a href="#kontakt" class=" tc dib sans b black link f3 ttu pv2 ph4 bg-jobyellow b--none hover-bg-black hover-white">{{ i18n "contact_us" }}</a>
                    </div>
            </div>
        </li>
        <li class="slide2">
            <div class="mw8 pa3 center pt7" data-aos="fade-up">
                <div class="bg-white ph4 pv1 htitle">
                    <h2 class="f3-ns f2-m f2-l serif">{{ i18n "claim" }}</h2>
                </div>
                <div class="mt2">
                        <a href="#kontakt" class=" tc dib sans b black link f3 ttu pv2 ph4 bg-jobyellow b--none hover-bg-black hover-white">{{ i18n "contact_us" }}</a>
                    </div>
            </div>
        </li>
        <li class="slide3">
            <div class="mw8 pa3 center pt6" data-aos="fade-up">
                <div class="bg-white ph4 pv1 htitle">
                    <h2 class="f3-ns f2-m f2-l serif">{{ i18n "claim" }}</h2>
                </div>
                <div class="mt2">
                        <a href="#kontakt" class=" tc dib sans b black link f3 ttu pv2 ph4 bg-jobyellow b--none hover-bg-black hover-white">{{ i18n "contact_us" }}</a>
                    </div>
            </div>
        </li>
        <li class="slide4">
            <div class="mw8 pa3 center pt6" data-aos="fade-up">
                <div class="bg-white ph4 pv1 htitle">
                    <h2 class="f3-ns f2-m f2-l serif">{{ i18n "claim" }}</h2>
                </div>
                <div class="mt2">
                        <a href="#kontakt" class=" tc dib sans b black link f3 ttu pv2 ph4 bg-jobyellow b--none hover-bg-black hover-white">{{ i18n "contact_us" }}</a>
                    </div>
            </div>
        </li>
        <li class="slide5">
            <div class="mw8 pa3 center pt6" data-aos="fade-up">
                <div class="bg-white ph4 pv1 htitle">
                    <h2 class="f3-ns f2-m f2-l serif">{{ i18n "claim" }}</h2>
                </div>
                <div class="mt2">
                        <a href="#kontakt" class=" tc dib sans b black link f3 ttu pv2 ph4 bg-jobyellow b--none hover-bg-black hover-white">{{ i18n "contact_us" }}</a>
                    </div>
            </div>
        </li>


    </ul>


</section>

<script>
  $(function() {
    $(".rslides").responsiveSlides();
  });
</script>


